* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font for the whole doc */
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
}

header {
  text-align: center;
  font-weight: 700;
  font-size: 44px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameBoard {
  width: 60%;
  border: solid red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gameBoard div {
  width: 33.3%;
  border: blue solid;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 64px;
}

.content button {
  padding: 32px;
  margin: 40px;
  cursor: pointer;
}
